<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>

  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://ec2-46-137-117-43.eu-west-1.compute.amazonaws.com:5432/db7c19bjk1elks</property>
    <property name="hibernate.connection.username">tjsythqhtsktln</property>
    <property name="hibernate.connection.password">bd8494678c1a400d053e1e5f3303aaabfaef2ee0331584b169fd7aa4ec20fabf</property>
    <property name="show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.ssl">true</property>
    <property name="hibernate.connection.sslfactory">org.postgresql.ssl.NonValidatingFactory</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>

  </session-factory>
  
</hibernate-configuration>